.wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 100%;
  background-size: cover;
}
.wrapper .center {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
  word-wrap: break-word;
  width: 100%;
}

.center h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
}
.center h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  word-wrap: break-word;
}
.center .buttons {
  margin-top: 35px;
  margin-left: 45%;
  justify-content: center;
}

@media (max-width:550px) {
  .center .buttons {
    margin-top: 35px;
    margin-left: 26%;
    justify-content: center;
  }
}
.buttons button {
  height: 50px;
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: red;
  outline: none;
  cursor: pointer;
  border: 1px solid #cc0000;
  border-radius: 25px;
  transition: 0.4s;
  margin: 10px;
}
.buttons .btn2 {
  margin-left: 5px;
}
.buttons button:hover {
  background: #cc0000;
}
